/* Reset and body styling */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eee;
  font-family: 'Times New Roman', serif;
}

/* Main book cover container */
.book-cover {
  width: 500px;
  height: 700px;
  background: url('https://i.imgur.com/8eYwD8O.jpg') no-repeat center center/cover;
  border: 3px solid red;
  padding: 30px;
  box-sizing: border-box;
  color: white;
  position: relative;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

/* Top section */
.top-section h3 {
  margin: 0;
  font-size: 18px;
  color: #fff;
  font-weight: normal;
}

.top-section hr {
  width: 100px;
  border: 1px solid white;
  margin: 5px 0 20px 0;
}

/* Title section */
.title-section {
  text-align: left;
}

.title-section h1 {
  font-size: 32px;
  color: #fff;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  color: #fff;
  margin-top: 0;
}

/* Bottom section */
.bottom-section {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
}

.special {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

.author-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.author {
  font-weight: bold;
  color: #fff;
}

.publisher {
  color: #fff;
}

/* Photo placement */
.photo {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.photo img {
  width: 120px;
  height: 130px;
  border: 2px solid white;
  object-fit: cover;
}
